@use "../../../styles/mixins" as *;

.header-title-container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media screen and (max-width: 600px) {
    gap: 3px;
  }

  &__title {
    @include heading-large;
  }

  &__invoices-count {
    @include body-regular;
  }
}
