.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__filter-and-button-container {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 600px) {
      gap: 5px;
    }
  }
}
