:root {
  --heading-1-clr: #0c0e16;
  --heading-2-clr: #858bb2;
  --body-text-1-clr: #888eb0;
  --body-text-2-clr: #7e88c3;
  --select-item-clr: #1e2139;
  --bg-clr: #f8f8fb;
  --sub-bg-1-clr: #373b53;
  --sub-bg-2-clr: #ffffff;
  --sub-bg-3-clr: #ffffff;
  --box-shadow-clr: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);;

  // constant colors
  --coral-red: #ec5757;
  --soft-lavender: #9277ff;
  --powder: #7e88c3;
  --deep-purple: #7c5dfa;
  --teal-green: #33d69f;
  --amber-orange: #ff8f00;
  --charcoal-gray: #373b53;
  --white: #ffffff;
}

[data-theme="dark"] {
  --heading-1-clr: #ffffff;
  --heading-2-clr: #ffffff;
  --body-text-1-clr: #dfe3fa;
  --body-text-2-clr: #dfe3fa;
  --select-item-clr: #ffffff;
  --bg-clr: #141625;
  --sub-bg-1-clr: #1e2139;
  --sub-bg-2-clr: #1e2139;
  --sub-bg-3-clr: #252945;
  --box-shadow-clr: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

[data-theme="light"] {
  --heading-1-clr: #0c0e16;
  --heading-2-clr: #858bb2;
  --body-text-1-clr: #888eb0;
  --body-text-2-clr: #7e88c3;
  --bg-clr: #f8f8fb;
  --sub-bg-1-clr: #373b53;
  --sub-bg-2-clr: #ffffff;
  --sub-bg-3-clr: #ffffff;
  --box-shadow-clr: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);;
  --select-item-clr: #1e2139;
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-1-clr: #ffffff;
    --heading-2-clr: #ffffff;
    --body-text-1-clr: #dfe3fa;
    --body-text-2-clr: #dfe3fa;
    --select-item-clr: #ffffff;
    --bg-clr: #141625;
    --sub-bg-1-clr: #1e2139;
    --sub-bg-2-clr: #1e2139;
    --sub-bg-3-clr: #252945;
    --box-shadow-clr: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  }
}
