:root {
  --heading-1-clr: #0c0e16;
  --heading-2-clr: #858bb2;
  --body-text-1-clr: #888eb0;
  --body-text-2-clr: #7e88c3;
  --bg-clr: #f8f8fb;
  --sub-bg-1-clr: #373b53;
  --sub-bg-2-clr: #ffffff;
  --sub-bg-3-clr: #ffffff;
  --sub-bg-4-clr: #373b53;
  --select-box-shadow-clr: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  --select-item-clr: #1e2139;
  --checkbox-bg: #dfe3fa;

  // constant colors
  --coral-red: #ec5757;
  --soft-lavender: #9277ff;
  --powder: #7e88c3;
  --deep-purple: #7c5dfa;
  --teal-green: #33d69f;
  --amber-orange: #ff8f00;
  --charcoal-gray: #373b53;
  --white: #ffffff;
  --paid-status-bg: #33d69f19;
  --pending-status-bg: #ff8f0019;
  --draft-status-bg: #373b5319;
  --generic-box-shadow-clr: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

[data-theme="light"] {
  --heading-1-clr: #0c0e16;
  --heading-2-clr: #858bb2;
  --body-text-1-clr: #888eb0;
  --body-text-2-clr: #7e88c3;
  --bg-clr: #f8f8fb;
  --sub-bg-1-clr: #373b53;
  --sub-bg-2-clr: #ffffff;
  --sub-bg-3-clr: #ffffff;
  --sub-bg-4-clr: #373b53;
  --select-box-shadow-clr: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  --select-item-clr: #1e2139;
  --checkbox-bg: #dfe3fa;
}

[data-theme="dark"] {
  --heading-1-clr: #ffffff;
  --heading-2-clr: #ffffff;
  --body-text-1-clr: #dfe3fa;
  --body-text-2-clr: #dfe3fa;
  --bg-clr: #141625;
  --sub-bg-1-clr: #1e2139;
  --sub-bg-2-clr: #1e2139;
  --sub-bg-3-clr: #252945;
  --sub-bg-4-clr: #dfe3fa;
  --select-box-shadow-clr: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  --select-item-clr: #ffffff;
  --checkbox-bg: #1e2139;
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-1-clr: #ffffff;
    --heading-2-clr: #ffffff;
    --body-text-1-clr: #dfe3fa;
    --body-text-2-clr: #dfe3fa;
    --bg-clr: #141625;
    --sub-bg-1-clr: #1e2139;
    --sub-bg-2-clr: #1e2139;
    --sub-bg-3-clr: #252945;
    --sub-bg-4-clr: #dfe3fa;
    --select-box-shadow-clr: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    --select-item-clr: #ffffff;
    --checkbox-bg: #1e2139;
  }
}
