@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./styles/_mixins.scss";
@import "./styles/_colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: League Spartan, sans-serif;
  transition: background-color 250ms ease, color 250ms ease;
}

body {
  background-color: var(--bg-clr);
}
